body{
    background-color: #30138d;
    width: 100vh;
    height: 100px;
}

#title {
  color: #0982d8;  
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-left: 50vh;

}

#main-text-p{
    color: #a19c9c;
}
.main-text {
    height: 150px;
    
}

